absl-py==0.2.0
aiocoap==0.3
aiohttp==3.2.0
appnope==0.1.0
astor==0.6.2
async-timeout==3.0.0
attrs==18.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
certifi==2015.11.20.1
chardet==3.0.4
cycler==0.10.0
Cython==0.25.2
decorator==4.0.6
future==0.16.0
gast==0.2.0
gnureadline==6.3.3
grpcio==1.11.0
h5py==2.7.0
html5lib==0.9999999
idna==2.6
idna-ssl==1.0.1
ipykernel==4.2.2
ipython==4.0.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.1
multidict==4.3.1
nbconvert==4.1.0
nbformat==4.0.1
nltk==3.2.2
notebook==4.0.6
numexpr==2.6.5
numpy==1.13.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
Pillow==5.1.0
protobuf==3.5.2.post1
ptyprocess==0.5
Pygments==2.0.2
pyparsing==2.0.7
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.1.0
qtconsole==4.1.1
scipy==0.19.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
sites==0.0.1
six==1.10.0
termcolor==1.1.0
terminado==0.5
tornado==4.3
traitlets==4.0.0
Werkzeug==0.14.1
yarl==1.2.4
