# Basic .gitattributes for a python repo.

# Source files
# ============
*.pxd		text
*.py 		text
*.py3 		text
*.pyw 		text
*.pyx  		text

# Binary files
# ============
*.db		binary
*.p 		binary
*.pkl 		binary
*.pyc 		binary
*.pyd		binary
*.pyo 		binary

*.ipynb linguist-language=Python
Dockerfile linguist-vendored
docker_files/* linguist-vendored
data/news_data/* linguist-vendored
