Cython
Jinja2
MarkupSafe
Pillow
Pygments
appnope
argparse
backports-abc
backports.ssl-match-hostname
certifi
cycler
decorator
future
gnureadline
ipykernel
ipython
ipython-genutils
ipywidgets
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
path.py
pexpect
pickleshare
ptyprocess
pyparsing
python-dateutil
pytz
pyzmq
qtconsole
scipy
simplegeneric
singledispatch
six
terminado
tornado
traitlets

